<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<div th:replace="navbar.html"></div>
    <h2>제품 목록</h2>
    <table border="1">
        <thead>
            <tr>
                <th>제품 ID</th>
                <th>제품명</th>
                <th>가격</th>
                <th>등록일</th>
                <th>제품 카테고리</th>
                <th>작업</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.productRegisdate}"></td>
                <td th:text="${product.productIntro}"></td>
                <td>
                    <a th:href="@{/products/productDetail/{id}(id=${product.productId})}">상세보기</a>
                    <a th:href="@{/products/update/{id}(id=${product.productId})}">수정</a>
                    <a th:href="@{/products/delete/{id}(id=${product.productId})}">삭제</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/products/save}">새 제품 추가</a>
</body>
</html>
